.profile__edit-button {
    border: solid 1px #fff;
    background-color: rgba(255, 255, 255, 0);
    background-image: url("../../../images/edit-button_icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 24px;
    height: 24px;
}