.header__logo {
    display: block;
    width: 142px;
    height: 33px;
    fill: #fff;
    margin: 0;
    padding: 0 0 41px;
}

@media screen and (max-width: 420px) {
    .header__logo {
        padding-left: 7px;
        padding-bottom: 32px;
        width: 104px;
        height: 24px;
    }
}