.popup-container {
    background-color: #fff;
    border-radius: 10px;
    max-width: 430px;
    width: 100%;
    color: #000;
    padding: 34px 36px 37px;
    position: relative;
    box-sizing: border-box;
}