.profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 18px;
    width: 100%;
}

@media screen and (max-width: 780px) {
    .profile {
        flex-direction: column;
        gap: 28px;
    }
}