.card__like-button {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    background-image: url("../../../images/like-button_icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 22px;
    height: 19px;
    transition: opacity .5s ease;
    cursor: pointer;
}

.card__like-button:hover {
    opacity: .5;
}