.profile__name {
    display: flex;
    justify-content: space-between;
    gap: 18px;
    align-items: baseline;
}

@media screen and (max-width: 420px) {
    .profile__name {
        gap: 10px;
    }
}

