.profile__description {
    margin: 0;
    padding: 0;
    width: 336px;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
}

@media screen and (max-width: 420px) {
    .profile__description {
        font-size: 14px;
        width: 282px;
    }
}