.profile__avatar_edit-button {
    position: absolute;
    border: none;
    background: rgba(0, 0, 0, 0);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: background-color .2s ease;
}

.profile__avatar_edit-button:hover,
.profile__avatar_edit-button:focus {
    background-color: rgba(0, 0, 0, .8);
    background-image: url("../../../../images/edit-button_icon.svg");
    background-size: 26px 26px;
    background-position: center;
    background-repeat: no-repeat;
}