.popup__save-button {
    border: none;
    background-color: #000;
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    padding: 14px 0 18px;
    border-radius: 2px;
    margin-top: 18px;
}

@media screen and (max-width: 420px) {
    .popup__save-button {
        padding-bottom: 14px;
        font-size: 14px;
        margin: 0;
    }
}