.page__screen-size_max {
    max-width: 880px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

@media screen and (max-width: 1023px) {
    .page__screen-size_max {
        padding-left: 19px;
        padding-right: 19px;
    }
}